<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin
   id="com.google.code.gen-clipse.debug.core"
   name="com.google.code.gen-clipse.debug.core"
   version="1.0.0"

   class="com.google.code.genclipse.debug.core.Activator">
   <extension
         name="GEclipse Ebuild Launcher"
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="com.google.code.genclipse.debug.core.launching.EbuildLaunchingConfiguration"
            id="com.google.code.gen-clipse.debug.core.EbuildLaunchConfiguration"
            modes="debug"
            name="gen-clipse Ebuild Launcher">
         <fileExtension
               default="true"
               extension="ebuild">
         </fileExtension>
      </launchConfigurationType>
   </extension>
</plugin>
