<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin
   id="com.google.code.gen-clipse.debug.ui"
   name="gen-clipse DebugUi Plug-in"
   version="1.0.0"
   provider-name="com.google.code.gen-clipse.debug.ui"
   class="com.google.code.genclipse.debug.ui.Activator">
   <requires>
      <import plugin="net.sf.geclipse.debug.core"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui.console"/>
   </requires>
   <!--<id/>
   <name/>
   <version/>--> 
   <extension
         id="com.google.code.gen-clipse.debug.ui.EbuildLaunchConfigurationTab"
         name="GEclipse Ebuild Launcher"
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="com.google.code.genclipse.debug.ui.EbuildLauncherTabGroup"
            description="Define the actions that should be performed when debugging the specified ebuild"
            id="com.google.code.gen-clipse.debug.ui.launchConfigurationTabGroup"
            type="com.google.code.gen-clipse.debug.core.EbuildLaunchConfiguration">
      </launchConfigurationTabGroup>
   </extension>
</plugin>
